<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bigwel.dao.IUserInfoDao">

	<select id="getUserInfoByuID" resultType="UserInfo" parameterType="int">
		select * from user_info where uid = #{id}

	</select>



</mapper>